@use '../../Styles/helpers' as *;

.controlsInOffer {
  position: absolute;
  top: rem(-25);
  right: rem(-15);
  z-index: 1;
  scale: 0.8;
}

.offer {
  padding: rem(15);
  position: relative;
  border-radius: rem(20);
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  overflow: visible;
  min-width: 100%;
  word-break: normal;
}